<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Student</title>
     <style>
      body{
        background-color: lightgreen;
      }
    </style>
</head>
<body>
    <form action="students/new" th:action="@{/students}" th:object="${student}" method="post">
        <div>
            <label>Full Name:</label>
            <input type="text" th:field="*{name}" />
        </div> <br>
        
         <div>
            <label>DOB:</label>
            <input type="date" th:field="*{dob}" />
        </div> <br>
        
        <div>
			<label>Gender:</label>
        <select th:field="*{gender}">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>
            </select>
		</div> <br>
        
        <div>
            <label>Email:</label>
            <input type="email" th:field="*{email}" />
        </div> <br>
        
        <div>
            <label>Mobile Number:</label>
            <input type="number" th:field="*{number}" />
        </div> <br>
        
       
        
        <div>
            <label>Select Course:</label>
           <input type="radio" th:field="*{course}" value="java"/>Java
           <input type="radio" th:field="*{course}" value="python" />Python
           <input type="radio" th:field="*{course}" value="mern"/>Mern
        </div> <br>
        
        <div>
			<label>Select City:</label>
        <select th:field="*{city}">
                <option value="Bangalore">Bangalore</option>
                <option value="Hydrabad">Hydrabad</option>
                <option value="Chennai">Chennai</option>
                <option value="Pune">Pune</option>
            </select>
		</div> <br>
        
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>

    

